
	<div class="wrapper">
		<div class="main-header">
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="blue">
				
				<a href="../index.html" class="logo">
					<img src="https://aaryaweb.info/html/stylexpo/admin/assets/img/logo.png" alt="navbar brand" class="navbar-brand">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->
			<!-- End Navbar -->
		</div>
		<!-- Sidebar -->
	
		<div class="main-panel">
			<div class="content">
				<div class="panel-header bg-white shadow-sm">
					<div class="page-inner  py-3 mb-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div class="">
								<div class="header d-sm-flex align-items-center  text-center"> 
				                    <h1 class="page-header banner-title">Log In</h1>
									<ul class="breadcrumb justify-content-sm-start justify-content-center">
									  	<li><a href="../index.html"><i class="icon-home"></i></a></li>
									  	<li><a href="#">Users</a></li>
									  	<li><a href="#">Log In</a></li>
									</ul> 			
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-inner">
					<div class="form-section login-form">
						<div class="row justify-content-center">
							<div class="col-xl-6 col-lg-8 col-md-10">
								<div class="card">
									<div class="card-header">
										<div class="card-head-row justify-content-between">
											<div class="card-title"><i class="fas fa-sign-in-alt"></i> Login</div>
										</div>
									</div>
									
									<div class="card-body">
										<div class="box-wrap">
					                    <form  class="main-form full" action="/admin" method="POST" onsubmit="return adminLogin()" >
					                      	<div class="input-box form-group ">
					                        	<div class="input-icon">
					                          		<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
					                        	</div>
					                        	<input id="name" class="form-control" type="text" name="name" required  placeholder="admin name">
												<p id="error1" style="color: red;"></p>
					                      	</div>
					                      	<div class="input-box form-group">
					                        	<div class="input-icon">
					                          		<span><i class="fa fa-lock" aria-hidden="true"></i></span>
					                        	</div>
					                        	<input id="password" class="form-control" name="password" type="password" required placeholder="Enter your Password">
					                        	<p id="error2" style="color: red;"></p>
												<div class="input-icon eye-icon">
					                          		<a><i class="fa fa-eye" aria-hidden="true"></i></a>
					                        	</div>
					                      	</div>
					                      	<div class="d-sm-flex justify-content-between align-items-center mt-2 mb-4">
					                        	<div class="check-box form-check"> 
					                          		<label class="form-check-label  control-label">
														<input class="form-check-input" type="checkbox" value="">
														<span class="form-check-sign">Remember Me</span>
													</label>
					                        	</div>
					                        	<a title="Forgot Password" class="forgot-password" href="javascript:void(0)">Forgot password?</a>
												
													<p id="error3" style="color: red;"></p>
												
													
													<p id="error3" style="color: red;">Invalid username or password</p>
													
											</div>
					                      	<div class="login-btn">
					                        	<button name="submit" type="submit" class="btn btn-primary btn-lg w-100">
													
					                          		<i class="fas fa-sign-in-alt"></i><span> Log In</span>
													  <p id="error3" style="color: red;"></p>
					                        	</button>
					                      	</div>
					                      	<!-- <div class="different-login text-center my-4">
					                          	<span> or</span>
					                      	</div>
					                      	<div class="another-login text-center mb-4">
					                        	<ul>
					                          		<li>
					                            		<div class="social-btn mr-20 mr-sm-15">
					                              			<a class="btn btn-facebook" href="javascript:void(0)">
					                                			<i class="fab fa-facebook-f"></i> Facebook
					                              			</a>
					                            		</div>
					                          		</li>
					                          		<li>
						                            	<div class="social-btn">
						                              		<a class="btn btn-google" href="javascript:void(0)">
						                                		<i class="fab fa-google-plus-g"></i> Google
						                              		</a>
						                            	</div>
						                          	</li>
					                        	</ul>
					                      	</div>
					                      	<div class="new-account text-center"> 
					                        	<span>Don't Have an Account?</span> 
					                        	<a class="link" title="Register" href="register.html">Create New Account</a> 
					                      	</div>
					                    </form>
				                  	</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
	<!--   Global JS Files (used by all pages) Start  -->
	 
	<script>
  
		let nameChecking = false;
		
		let passwordChecking = false;
		$(document).ready(function(){
			$("#name").on('input',function(){
		   this.value=this.value.replace(/[^A-Za-z-,.;'&/.() ]|^ /g,'')
		   let name = this.value
		   let nameregex = /^[A-Za-z]+$/
		   if(name.match(nameregex)&&name.length<3){
			   $("#error1").html("enter minimum 3 charaters");
			   nameChecking = false;
		   }
		   else if(name.includes("  ")){
			   $("#error1").html("invalid ");
			   nameChecking = false;
		   }
	   else if(name.match(nameregex)){
		   $("#error1").html("");
		   nameChecking = true;
	   }
		   
	   })
		
		
		
				$("#password").keyup(function(){
					let password = this.value
					if(password==""){
						$("#error2").html("enter a password")
					}else if(password.length<=3){
						  $("#error2").html("enter minimum 4 charaters")
					}else{
						$('#error2').html("")
						passwordChecking = true;
					}
				})
			
		})
		
		function adminLogin(){
			console.log("log cheyy myre")
		if(nameChecking&&passwordChecking){
			return true
		}else{
		 $("#error3").html("fill all feilds in format") 
			return false
		}
		}
		
		</script> 