<div class="ml-2 col-sm-6">
    <div id="msg"></div>jjjjjjjj
    <input type="file" name="image1" id="img1" class="file3" accept="image/*">
    <input type="text" class="form-control" disabled placeholder="Upload File" id="file">
    <!-- <form method="post" id="image-form">
      
      <div class="input-group my-3">
        
        <div class="input-group-append">
          <button type="button" class="browse btn btn-primary">Browse...</button>
        </div>
      </div>
    </form> -->
  </div>
  <div class="ml-2 col-sm-6">
    <img src="https://placehold.it/80x80" id="preview1" class="img-thumbnail">
  </div>
  <div class="ml-2 col-sm-6">
    <div id="msg"></div>jjjjjjjj
    <input type="file" name="image2" id="img2" class="file1" accept="image/*">
    <input type="text" class="form-control" disabled placeholder="Upload File" id="file">
    <!-- <form method="post" id="image-form">
      
      <div class="input-group my-3">
        
        <div class="input-group-append">
          <button type="button" class="browse btn btn-primary">Browse...</button>
        </div>
      </div>
    </form> -->
  </div>
  <div class="ml-2 col-sm-6">
    <img src="https://placehold.it/80x80" id="preview2" class="img-thumbnail">
  </div>
  <div class="ml-2 col-sm-6">
    <div id="msg"></div>kkkkkkkk
    <input type="file" name="image3" id="img3" class="file2" accept="image/*">
    <input type="text" class="form-control" disabled placeholder="Upload File" id="file">
    <!-- <form method="post" id="image-form">
      
      <div class="input-group my-3">
        
        <div class="input-group-append">
          <button type="button" class="browse btn btn-primary">Browse...</button>
        </div>
      </div>
    </form> -->
  </div>
  <div class="ml-2 col-sm-6">
    <img src="https://placehold.it/80x80" id="preview3" class="img-thumbnail">
  </div>
  <!-- <input type="file" class="form-control" name="image1"  id="input-quantity1" placeholder="Quantity"> -->
  <!-- <input type="file" class="form-control" name="image2"  id="input-quantity2" placeholder="Quantity">
  <input type="file" class="form-control" name="image3"  id="input-quantity3" placeholder="Quantity"> -->
</div>
</div>
</div>
</div>
<input type="file" name="image3" id="img3" class="file2" accept="image/*">"btn btn-danger">Add product</button>
</div>




</form> <div class="ml-2 col-sm-6">
<div id="msg"></div>sdfghjkl;lkjhgfdsdfghjkl;
<input type="file" name="image1"  class="file" id="img1" accept="image/*">
<input type="text" class="form-control" disabled placeholder="Upload File" id="file">
<!-- <form method="post" id="image-form">

<div class="input-group my-3">

<div class="input-group-append">
<button type="button" class="browse btn btn-primary">Browse...</button>
</div>
</div>
</form> -->
</div>
<div class="ml-2 col-sm-6">
<img src="https://placehold.it/80x80" id="preview1" class="img-thumbnail">
</div>
<style>
.file {
visibility: hidden;
position: absolute;
}
</style>
<script>
//   $(document).on("click", ".browse", function() {
//  var file = $(this).parents().find(".file");
//  file.trigger("click");
// });
$('#img1').change(function(e) {
var fileName = e.target.files[0].name;
$("#file1").val(fileName);
console.log("second")

var reader = new FileReader();
reader.onload = function(e) {
// get loaded data and render thumbnail.
document.getElementById("preview1").src = e.target.result;
};
// read the image file as a data URL.
reader.readAsDataURL(this.files[0]);
});
</script>
<script>
//   $(document).on("click", ".browse", function() {
//  var file = $(this).parents().find(".file");
//  file.trigger("click");
// });
$('#img2').change(function(e) {
var fileName = e.target.files[0].name;
$("#file1").val(fileName);
console.log("second")

var reader = new FileReader();
reader.onload = function(e) {
// get loaded data and render thumbnail.
document.getElementById("preview2").src = e.target.result;
};
// read the image file as a data URL.
reader.readAsDataURL(this.files[0]);
});
</script>
<script>
$(document).on("click", ".browse", function() {
var file = $(this).parents().find(".file");
file.trigger("click");
});
$('#img3').change(function(e) {
var fileName = e.target.files[0].name;
$("#file2").val(fileName);
console.log("third")
var reader = new FileReader();
reader.onload = function(e) {
// get loaded data and render thumbnail.
document.getElementById("preview3").src = e.target.result;
};
// read the image file as a data URL.
reader.readAsDataURL(this.files[0]);
});
</script>