
<script>
    let nameChecking = false;
      
       
  
      let emailChecking = false;
      let numberChecking = false;
  
      $(document).ready(function(){
  
       $("#name").on('input',function(){
           this.value=this.value.replace(/[^A-Za-z-,.;'&/.() ]|^ /g,'')
           let name = this.value
           let nameregex = /^[A-Za-z]+$/
           if(name.match(nameregex)&&name.length<3){
               $("#error1").html("enter minimum 3 charaters");
               nameChecking = false;
           }
           else if(name.includes("  ")){
               $("#error1").html("invalid ");
               nameChecking = false;
           }
       else if(name.match(nameregex)){
           $("#error1").html("");
           nameChecking = true;
       }
  
       })
          $("#lastname").on('input',function(){
           this.value=this.value.replace(/[^A-Za-z-,.;'&/.() ]|^ /g,'')
           let name = this.value
           let nameregex = /^[A-Za-z]+$/
           if(name.match(nameregex)&&name.length<3){
               $("#error2").html("enter minimum 3 charaters");
               lastChecking = false;
           }
           else if(name.includes("  ")){
               $("#error2").html("invalid ");
               lastChecking= false;
           }
       else if(name.match(nameregex)){
           $("#error2").html("");
           lastChecking = true;
       }
  
       })
          $("#addressname").on('input',function(){
           this.value=this.value.replace(/[^A-Za-z-,.;'&/.() ]|^ /g,'')
           let name = this.value
           let nameregex = /^[A-Za-z]+$/
           if(name.match(nameregex)&&name.length<3){
               $("#error3").html("enter minimum 3 charaters");
               addressChecking = false;
           }
           else if(name.includes("  ")){
               $("#error3").html("invalid ");
               addressChecking = false;
           }
       else if(name.match(nameregex)){
           $("#error3").html("");
           addressChecking = true;
       }
  
       })
       $("#address").on('input',function(){
           this.value=this.value.replace(/[^A-Za-z-,.;'&/.() ]|^ /g,'')
           let name = this.value
           let nameregex = /^[A-Za-z]+$/
           if(name.match(nameregex)&&name.length<3){
               $("#error4").html("enter minimum 3 charaters");
               addressChecking = false;
           }
           else if(name.includes("  ")){
               $("#error4").html("invalid ");
               addressChecking = false;
           }
       else if(name.match(nameregex)){
           $("#error4").html("");
           addressChecking = true;
       }
  
       })
        $("#address").on('input',function(){
           this.value=this.value.replace(/[^A-Za-z-,.;'&/.() ]|^ /g,'')
           let name = this.value
           let nameregex = /^[A-Za-z]+$/
           if(name.match(nameregex)&&name.length<3){
               $("#error8").html("enter minimum 3 charaters");
               addressChecking = false;
           }
           else if(name.includes("  ")){
               $("#error8").html("invalid ");
               addressChecking = false;
           }
       else if(name.match(nameregex)){
           $("#error8").html("");
           addressChecking = true;
       }
  
       })
           $("#email").keyup(function(){
           let email = this.value
           let emailregex = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;
  
           if(email.match(emailregex)){
               $("#error4").html("")
               emailChecking = true;
           }
           else{
               $("#error4").html("enter a valid email")
               emailChecking = false;
           }
       })
           $("#pincode").on("input",function(){
           this.value=this.value.replace(/[^\d]/,'')
           let phone = this.value
           let phoneregex = /^[0-9]*$/
           if(phone==""){
               $("#error5").html("enter 6 numbers")
               postChecking = false;
           }
           else if(phone.match(/^[A-Za-z]+$/)) {
               $("#error5").html("enter numbers only")
               postChecking = false;
           }
           else if(phone.match(phoneregex)&&phone.length<6){
               $("#error5").html("enter 6 numbers")
               return false;
           }
           else if(phone.match(phoneregex)&&phone.length>6){
               $("#error5").html("enter a valid number")
               postChecking = false
           }
           else if(phone.match(phoneregex)){
               postChecking=true
               $("#error5").html("")
               return true
           }
           else{
               return false;
           }
  
       })
  
          $("#phone").on("input",function(){
           this.value=this.value.replace(/[^\d]/,'')
           let phone = this.value
           let phoneregex = /^[0-9]*$/
           if(phone==""){
               $("#error6").html("enter 10 numbers")
               numberChecking = false;
           }
           else if(phone.match(/^[A-Za-z]+$/)) {
               $("#error6").html("enter numbers only")
               numberChecking = false;
           }
           else if(phone.match(phoneregex)&&phone.length<10){
               $("#error6").html("enter 10 numbers")
               return false;
           }
           else if(phone.match(phoneregex)&&phone.length>10){
               $("#error6").html("enter a valid number")
               numberChecking = false
           }
           else if(phone.match(phoneregex)){
               numberChecking=true
               $("#error6").html("")
               return true
           }
           else{
               return false;
           }
  
       })
  
      })
  
   
  </script>
  <script>
      let selectedAddres = null;
      let formHtml = `<div id="displayAddress" style="display:none;">
                <div class="col-md-6">
                  <div class="checkout-form-list">
                    <label>First Name <span class="required">*</span></label>
  
                    <input
                      id="name1"
                      name="firstname"
                      placeholder=""
                      type="text"
                      required
                      disabled
                    />
                    <p id="error" style="color: red"></p>
                    <input id="userId" type="text" name="userId" hidden />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="checkout-form-list">
                    <label>Last Name <span class="required">*</span></label>
                    <input
                      id="lastname1"
                      name="lastname"
                      placeholder=""
                      type="text"
                      required
                      disabled
                    />
                    <p id="error" style="color: red"></p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="checkout-form-list">
                    <label>Address name<span class="required">*</span></label>
                    <input
                      id="addressname1"
                      name="addressname"
                      placeholder="Street address"
                      type="text"
                      required
                      disabled
                    />
                    <p id="error" style="color: red"></p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="checkout-form-list">
                    <label>Address <span class="required">*</span></label>
                    <input
                      id="address1"
                      name="address"
                      placeholder="Street address"
                      type="text"
                      required
                      disabled
                    />
                    <p id="error" style="color: red"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="checkout-form-list">
                    <label>Postcode / Zip <span class="required">*</span></label>
                    <input
                      id="pin1"
                      name="pin"
                      placeholder=""
                      type="text"
                      required
                      disabled
                    />
                    <p id="error" style="color: red"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="checkout-form-list">
                    <label>Email Address <span class="required">*</span></label>
                    <input
                      id="email1"
                      name="email"
                      placeholder=""
                      type="email"
                      required
                      disabled
                    />
                    <p id="error" style="color: red"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="checkout-form-list">
                    <label>Phone <span class="required">*</span></label>
                    <input id="phone1" name="phone" type="text" required />
                    <p id="error" style="color: red"></p>
                  </div>
                  
                </div>
              </div>`
    function addAddress(userId) {
      console.log("please add your address");
      let name = document.getElementById("name").value;
      let lastname = document.getElementById("lastname").value;
      let addressname = document.getElementById("addressname").value;
      let address = document.getElementById("address").value;
      let pincode = document.getElementById("pincode").value;
      let email = document.getElementById("email").value;
      let phone = document.getElementById("phone").value;
      //let userId = document.getElementById("userId").value;
      console.log("i am from add address")
      console.log(name)
      console.log(lastname)
      console.log(addressname)
      console.log(address)
      console.log(pincode)
      console.log(email)
      console.log(phone)
      console.log(userId)
      console.log("i am ending add address")
      $.ajax({
        url: "/add-address",
        data: {
          firstname: name,
          lastname: lastname,
          addressname: addressname,
          address: address,
          pincode: pincode,
          email: email,
          phone: phone,
          userId: userId,
        },
        method: "post",
        success: (response) => {
          if (response.status) {
            console.log("response after add address and status")
            console.log(response.status)
           window.location.reload();
          }
        },
      });
    }
  
    function showAddress(Id) {
        if(selectedAddres){
          $('#'+selectedAddres).html(null);
          selectedAddres = Id
        }else{
            selectedAddres = Id
        }
        $('#'+Id).html(formHtml);
        console.log("ivde ondallo")
      document.getElementById("displayAddress").style.display="block"
      $.ajax({
        url: "/display-address",
        data: {
          Id: Id,
        },
        method: "post",
        success: (response) => {
          console.log("data in ajax");
          console.log(response.status);
          let newAddress = response.status.find((e)=>e.address.addressId==Id)
          console.log("new address")
          console.log(newAddress)
          console.log(newAddress.address.firstname)
          let firstname = newAddress.address.firstname
          let lastname = newAddress.address.lastname
          let addressname = newAddress.address.addressname
          let address = newAddress.address.address
          let pincode = newAddress.address.pincode
          let email = newAddress.address.email 
          let phone = newAddress.address.phone
          document.getElementById('name1').value=firstname
          document.getElementById('lastname1').value=lastname
          document.getElementById('addressname1').value=addressname
          document.getElementById('address1').value=address
          document.getElementById('pin1').value=pincode
          document.getElementById('email1').value=email
          document.getElementById('phone1').value=phone
        },
      });
       $('input[type=checkbox][name="diferent-address"]:checked').prop('checked',false)
    }
  </script>
  <!-- library for razorpay -->
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   <script>
      function submitData(e){
  
        let data = { }
        let selectedAddress = $('input[type=radio][name="select-address"]:checked')
        let differentAddress = $('#ship-box').prop('checked')
        console.log("slected address")
        console.log(differentAddress)
      let firstname = document.getElementById("name").value;
      let lastname = document.getElementById("lastname").value;
      let addressname = document.getElementById("addressname").value;
      let address = document.getElementById("address").value;
      let pincode = document.getElementById("pincode").value;
      let email = document.getElementById("email").value;
      let phone = document.getElementById("phone").value;
      
   console.log("ivde vanno  ")
       
        if(selectedAddress.length!==0||  differentAddress){
         console.log("jfhsdkjhfs")
          if(selectedAddress.length!==0){                   
        
            let addressId = selectedAddress[0].value
            data.addressId = addressId
          }else{
             
            let formStatus = checkOtherAddress()
        
            if(formStatus){
             let difaddress= {
              firstname:firstname,
              lastname:lastname,
              addressname:addressname,
              address:address,
              pincode:pincode,
              email:email,
              phone:phone
              }
              data.address = difaddress;
              console.log(data)
            }else {
             
              return false
            }
          }
          let paymentMode = $('#payment-radio').prop('checked');
          let onlinePayment = $('#Onlinepayment-radio').prop('checked')
          if(paymentMode){
            data.paymentMode = "COD";
            console.log(data);
          }
          else if(onlinePayment){
            data.onlinePayment = "OnlinePayment"
          }else{
            alert("payment mode not selected")
            return false
          }
        
        }
     
        $.ajax({
          url:'/place-order',
          data:{data},
          method:'post',
          success:(res)=>{
            if(res.status=="COD"){
              location.href = '/success'
            }else{
              alert("data reached")
          
              start(res.data,res.user)
  
            }
          }
      })
  
   }
  
   
  
  
   
      function verifyPayment(payment,order){
        console.log("payment")
       console.log(payment,order)
        $.ajax({
          url:'verify-payment',
          data:{
            payment,
            order
          },
          method:'post',
          success:(response)=>{
            if(response.status){
              location.href = '/success'
            }else{
              alert("payment failed")
            }
          }
        })
  
      }
      function checkOtherAddress(){
      let lastname = document.getElementById("lastname").value;
      let addressname = document.getElementById("addressname").value;
      let address = document.getElementById("address").value;
      let pincode = document.getElementById("pincode").value;
      let email = document.getElementById("email").value;
      let phone = document.getElementById("phone").value;
      if(lastname&&addressname&&address&&pincode&&email&&phone){
        return true
      }else{
        alert("FIll all fields in format")
        return false
      }
      }    
      function check(){
        $('input[type=radio][name="select-address"]:checked')[0].checked=false;
  
      }
      </script> 
  <script>
  
  function start(data,user){
    
    var options = {
        "key": "rzp_test_LqsPiBnf3p2Kjm", // Enter the Key ID generated from the Dashboard
        "amount": data.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Company",
        "description": "vedi pura",
        "image": "https://example.com/your_logo",
        "order_id": data.id, //This is a sample Order ID. Pass the `id` obtained in the previous step
        "handler": function (response){
          alert(response.razorpay_payment_id);
          alert(response.razorpay_order_id);
          alert(response.razorpay_signature)
          console.log("response and ddata")
          console.log(response)
          verifyPayment(response,data)
          
         
        },
        "prefill": {
            "name": user.firstname,
            "email": user.email,
            "contact": user.phone
        },
        "notes": {
            "address": "Shantha yude bahavanam"
        },
        "theme": {
            "color": "#3e9c84"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
   
   
  
   
  
    }
    </script>