

<div class="main-header">
    <!-- Logo Header -->
    <div class="logo-header">
        <a href="index.html" class="logo">
            <img src="https://aaryaweb.info/html/stylexpo/admin/assets/img/logo.png" alt="navbar brand" class="navbar-brand">
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="icon-menu"></i>
            </span>
        </button>
        <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="icon-menu"></i>
            </button>
        </div>
    </div>
    <!-- End Logo Header -->

    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-expand-lg">
        <div class="container-fluid">
            <!-- <div class="collapse" id="search-nav">
                <form class="navbar-left navbar-form nav-search mr-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-search pr-1">
                                <i class="fa fa-search search-icon"></i>
                            </button>
                        </div>
                        <input type="text" placeholder="Search ..." class="form-control">
                    </div>
                </form>
                
            </div> -->
        <!-- </div> -->
    </nav>
    <!-- End Navbar -->
    <script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/global/jquery.3.2.1.min.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/global/popper.min.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/global/bootstrap.min.js"></script>
	<!--   Global JS Files (used by all pages) End  -->

	<!--   Plugin  JS Files  (used by this page) Start -->
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/plugin/chart.js/chart.min.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/plugin/datatables/datatables.min.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
	<!--   Plugin  JS Files (used by this page) End -->

	<!-- custom JS -->
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/custom.js"></script>
	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/demo.js"></script>
</div>