<div class="sidebar dark-bg">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <li class="nav-item">
                    <a href="/admin">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Components</h4>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#product">
                        <i class="fas fa-pen-square"></i>
                        <p>Product</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="product">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/category">
                                    <span class="sub-item">Category</span>
                                </a>
                            </li>
                           
                            <li>
                                <a href="/admin/products">
                                    <span class="sub-item">Product List</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/add-product">
                                    <span class="sub-item">Add Product</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/product-offer">
                                    <span class="sub-item">Product offer</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/category-offer">
                                    <span class="sub-item">Category offer</span>
                                </a>
                            </li>
                          
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#sales">
                        <i class="fas fa-dollar-sign"></i>
                        <p>Sales</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sales">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="../sales/orders.html">
                                    <span class="sub-item">Orders</span>
                                </a>
                            </li>
                            <li>
                                <a href="../sales/orders-details.html">
                                    <span class="sub-item">Orders Details</span>
                                </a>
                            </li>
                            <li>
                                <a href="../sales/transactions.html">
                                    <span class="sub-item">Transactions</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#coupons">
                        <i class="fas fa-tag"></i>
                        <p>Coupons</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="coupons">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/coupon-list">
                                    <span class="sub-item">Coupons List</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/create-coupon">
                                    <span class="sub-item">Create-coupon</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item active submenu">
                    <a data-toggle="collapse" href="/admin/userlist" aria-expanded="true">
                        <i class="fas fa-user-plus"></i>
                        <p>Users</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse show" id="users">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/userlist">
                                    <span class="sub-item">User List</span>
                                </a>
                            </li>
                           <li>
                               <a href="/admin/view-order">
                                   <span>order history</span>
                               </a>
                           </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#reports">
                        <i class="far fa-chart-bar"></i>
                        <p>Reports</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="reports">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="../reports/reports.html">
                                    <span class="sub-item">Reports</span>
                                </a>
                            </li>
                            <li>
                                <a href="../reports/online-report.html">
                                    <span class="sub-item">Online Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="../reports/statistics.html">
                                    <span class="sub-item">statistics</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#reports">
                        <a href="/admin/signout" class="sub-item"><span class="sub-item">Logout</span></a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>