<!-- Breadcrumb Section Start -->
<div class="section">
  <!-- Breadcrumb Area Start -->
  <div class="breadcrumb-area bg-light">
    <div class="container-fluid">
      <div class="breadcrumb-content text-center">
        <h1 class="title">Checkout</h1>
        <ul>
          <li>
            <a href="index.html">Home </a>
          </li>
          <li class="active">Checkout</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Breadcrumb Area End -->
</div>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Start -->
<div class="section section-margin">
  <div class="container">
    <form id="submit-form">
     <div class="row">
      <div class="col-12">
        <!-- Coupon Accordion Start -->
        <div class="coupon-accordion">
          <!-- Title Start -->
          <h3 class="title" id="showlogin" style="cursor: pointer">
            Choose a Address
          </h3>

          <div id="checkout-login" class="coupon-content">
            <!-- row based input field start -->
            <div class="row px-3">
              <!-- first item start -->
               <div class="form-group col-6">
                <label for="exampleInputEmail1">Select Address</label>
                
                <select onclick="chooseAddress()" class="custom-select" id="inputGroupSelect01">
                  <option selected>choose an option</option></option>
                  <%for(var i of addresses){%> 
                  <option ><%=i.address. addressname%></option>
                  <option id="addressId"  value="<%=i.address. addressId%>" type="text" hidden></option>
                  <%}%>
                </select>
              </div>

              <!-- first item end -->
              <!-- second item start -->
              <div class="form-group col-6">
                <label for="exampleInputEmail1">Name</label>
                <input  type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
              </div>
                 <!-- second item end -->
             </div>
             <div class="row px-3">
              <!-- first item start -->
              <div class="form-group col-6">
                <label for="exampleInputEmail1"> Email</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
              </div>  
              <!-- first item end -->
              <!-- second item start -->
              <div class="form-group col-6">
                <label for="exampleInputEmail1"> Pincode</label>
                <input type="number" name="pincode" class="form-control" id="pincode" aria-describedby="emailHelp" placeholder="Enter pincode" required>
              </div>
                 <!-- second item end -->
             </div>
             <div class="row px-3">
              <!-- first item start -->
              <div class="form-group col-6">
                <label for="exampleInputEmail1"> Phone</label>
                <input type="number'" name="phone" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="Enter phone" required>
              </div>

              <!-- first item end -->
              <!-- second item start -->
              <div class="form-group col-6">
                <label for="exampleInputEmail1"> Address Name  </label>
                <input type="text" name="addressname" class="form-control" id="addressname" aria-describedby="emailHelp" placeholder="Enter Address name" required>
              </div>
                 <!-- second item end -->
             </div>
          <!-- row based input field end -->

             <div class="form-group">
              <label for="exampleInputEmail1">Address</label>
              <input type="text" name="address" class="form-control" id="address" aria-describedby="emailHelp" placeholder="Enter address" required>
            </div>
            <div class="form-group">
            <input type="checkbox" class="form-check-input" name="saveAddres" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Save Address</label>
          </div>
            <div >
                
            </div>

          

            
          </div>

          <!-- Title End -->

          <!-- Checkout Login Start -->
          <div id="checkout-login" class="coupon-content">
            <div class="coupon-info"></div>
          </div>
          <!-- Checkout Login End -->

          <!-- Title Start -->
          <h3 class="title">
            Have a coupon?
            <span id="showcoupon">Click here to enter your code</span>
           
          </h3>
          <!-- Title End -->

          <!-- Checkout Coupon Start -->
          <div id="checkout_coupon" class="coupon-checkout-content">
            <div class="coupon-info">
              <p class="checkout-coupon d-flex">
                <input id="couponcode" value="" placeholder="Coupon code" type="text" />
                
                <a  onclick="applyCoupon()"
                  class="btn btn-dark btn-hover-primary rounded-0"
                  value="Apply Coupon"
                 
                >Apply Coupon</a>
              </p>
              <p id="errormsg" style="color: red;"></p> 
            </div>
          </div>
          <!-- Checkout Coupon End -->

          <!-- START -->
        </div>
        <!-- Coupon Accordion End -->
      </div>
    </div>
 

    <div class="row mb-n4">
     
       

        <!-- <div class="col-lg-6 col-12 mb-4"> -->

        <!-- Your Order Area Start -->
        <div class="your-order-area border">
          <!-- Title Start -->
          <h3 class="title">Your order</h3>
          <!-- Title End -->

          <!-- Your Order Table Start -->
          <div class="your-order-table table-responsive">
            <table class="table">
              <!-- Table Head Start -->
              <thead>
                <tr class="cart-product-head">
                  <th class="cart-product-name text-start">Product</th>
                  <th class="cart-product-total text-end">Total</th>
                </tr>
              </thead>
              <!-- Table Head End -->

              <!-- Table Body Start -->
             
              <!-- Table Body End -->

              <!-- Table Footer Start -->
              <tfoot>
                <tr class="cart-subtotal">
                  <th class="text-start ps-0">Cart Subtotal</th>
                  <td class="text-end pe-0">
                    <span class="amount"><%=productPrice%></span>
                  </td>
                </tr>
                <tr class="order-total">
                  <th class="text-start ps-0">Order Total</th>
                  <td class="text-end pe-0">
                    <strong><span id="totalamount" class="amount"><%=productPrice%></span></strong>
                    <p></p>
                  </td>
                </tr>
              </tfoot>
              <!-- Table Footer End -->
            </table>
          </div>
          <!-- Your Order Table End -->

          <!-- Payment Accordion Order Button Start -->
          <div class="order-button-payment">
            <button class="btn btn-danger btn-hover-primary rounded-0 w-100">
              Payment
            </button>
          </div>
          <br />
          <div class="payment-accordion-order-button">
            <div class="payment-accordion">
              <div class="single-payment">
                <h5 class="panel-title mb-3">
                  <ul>
                    <li>
                      <input
                      id="payment-radio"
                        name="payment"
                        value="COD"
                        type="radio"
                        required
                      />COD
                    </li>
                  </ul>
                </h5>
              </div>
            </div>
          </div>
          <div class="payment-accordion-order-button">
            <div class="payment-accordion">
              <div class="single-payment">
                <h5 class="panel-title mb-3">
                  <ul>
                    <li>
                      <input
                      id="paypal-radio"
                        name="payment"
                        value="Paypal"
                        type="radio"
                        required
                      />Paypal
                    </li>
                  </ul>
                </h5>
              </div>
             
            </div>
          </div>

          <div class="payment-accordion-order-button">
            <div class="payment-accordion">
              <div class="single-payment">
                <h5 class="panel-title mb-3">
                  <ul>
                    <li>
                      <input
                      id="Onlinepayment-radio"
                        name="payment"
                        value="Razorpay"  
                        type="radio"
                        required
                      />Razorpay
                    </li>
                  </ul>
                </h5>
                <div class="collapse show" id="collapseExample">
                  <div class="card card-body rounded-0">
                    <p>
                      Make your payment directly into our bank account. Please
                      use your Order ID as the payment reference. Your order
                      won’t be shipped until the funds have cleared in our
                      account.
                    </p>
                  </div>
                </div>
              </div>
              <div class="single-payment">
                <h5 class="panel-title mb-3">
                  <a
                    class="collapse-off"
                    data-bs-toggle="collapse"
                    href="#collapseExample-2"
                    aria-expanded="false"
                    aria-controls="collapseExample-2"
                  >
                    Cheque Payment.
                  </a>
                </h5>
                <div class="collapse" id="collapseExample-2">
                  <div class="card card-body rounded-0">
                    <p>
                      Make your payment directly into our bank account. Please
                      use your Order ID as the payment reference. Your order
                      won’t be shipped until the funds have cleared in our
                      account.
                    </p>
                  </div>
                </div>
              </div>  
            </div>
            <div class="order-button-payment">
              <button
               type="submit"
                class="btn btn-dark btn-hover-primary rounded-0 w-100"
                onclick="addAddress()"
              >
                Place Order
              </button>
         
            </div>
          </div>
          <!-- Payment Accordion Order Button End -->
        </div>
        <!-- </div>    -->
      
    </div>
  </form>
  </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
function addAddress(){
  let form = $("#submit-form").serialize()
  console.log(form)
 $("#submit-form").submit((e)=>{
  e.preventDefault()
   $.ajax({
     url:'/place-order',
     method:'post',
     data:form,
     success:(response)=>{
      console.log(response)
      if(response.status){
        window.location.href = '/succes'
      }else if(response.response){
        alert("ready for razorpay")
        razorpayPayment(response.data,response.user)
       
      }else if(response.data){
        window.location.href=response.data
        
      }
     }
   })
  
 

 function razorpayPayment(data,user){

    var options = {
        "key": "rzp_test_LqsPiBnf3p2Kjm", // Enter the Key ID generated from the Dashboard
        "amount":  data.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Company",
        "description": "vedi pura",
        "image": "https://example.com/your_logo",
        "order_id": data.id, //This is a sample Order ID. Pass the `id` obtained in the previous step
        "handler": function (response){
          alert("payment success")
          console.log("response and ddata")
          console.log(response)
          verifyPayment(response,data)
          
         
        },  
        "modal": {
    "ondismiss": function(){
        
       deletePayment(data.receipt)
     }
},

        "prefill": {
            "name": user.firstname,
            "email": user.email,
            "contact": user.phone
        },
        "notes": {
            "address": "Wayanad"
        },
        "theme": {
            "color": "#3e9c84"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  
    rzp1.on('payment.failed', function (response){
      deletePayment(data.receipt)
    });
   
   
  
   
  
    }
 
 
 }) 
}

// delete the order when the order faild and return the data to the user
// 1. modal close 2. payment failiure 
function deletePayment(orderId){
  console.log("this is my nwe one",orderId)
  $.ajax({
    url:"/order-payment-failed/"+orderId,
    method:"get",
    success:(res)=>{
      console.log(" need to go the cart ")
    },
    error:(err)=>{
      console.log(err)
    }
  })
}


function verifyPayment(payment,order){
        console.log("payment")
       console.log(payment,order)
        $.ajax({
          url:'/verify-payment',
          data:{
            payment,
            order
          },
          method:'post',
          success:(response)=>{
            if(response.status){
              location.href = '/succes'
            }else{
              alert("payment failed")
            }
          }
        })
  
      }
</script>
<script>
  function chooseAddress(){
    console.log("choose me")
    let addressId = document.getElementById("addressId").value
    console.log(addressId)
    $.ajax({
      url:'/display-address',
      method:'post',
      data:{addressId},
     success:(response)=>{
       let address = response.status
      console.log(address)
      document.getElementById("name").value= address.address.name
       document.getElementById("email").value = address.address.email
      document.getElementById("pincode").value = address.address.pincode
      document.getElementById("addressname").value = address.address.addressname
        document.getElementById("address").value = address.address.address
        document.getElementById("phone").value = address.address.phone
     }
    })
  }
</script>
<script>
  function applyCoupon(){
    console.log("hii nan vannu")
    let coupon = document.getElementById("couponcode").value
   
    $.ajax({
      url:"/apply-coupon",
      data:{coupon},
      method:'post',
      success:(response)=>{
        
        if(response.status){
          document.getElementById("totalamount").innerHTML=response.offerAmount
        }else{
          document.getElementById("errormsg").innerHTML =response.message
        }
      }

    })
  }
</script>