<div class="container  pb-5">
					
    <!-- Login Wrapper Start -->
    <div class="login-wrapper">

       <!-- Login Title & Content Start -->
       <div class="section-content text-center mb-5">
           <h2 class="title mb-2">Verify Mobile</h2>
           <p class="desc-content">Please verify using mobile OTP bellow.</p>
       </div>
       <!-- Login Title & Content End -->

   
       <div class="custom-control custom-checkbox align-items-center" >
           <br>
           <div id="inp2" class="col-12" >
               <form id="otp-form" onsubmit="verifyOtp()">
               <input    class="custom-cont rol-input" name="otp" placeholder="enter otp" type="text"  id="otp">
                   
               <p id="error2" style="color: red;"></p>  
             
               <h3 id="counter"></h3>
              
               <a style="display: none;" id="resend" class="btn btn-outline-secondary m-3" onclick="verify()">Resend Otp</a>
               <button type="submit" class="btn btn-dark m-3" onclick="login()">Login</button>
              
            </form>
           </div>
       </div>
   </div>
   <!-- Login Wrapper End -->
</div>
<script>
      $("#otp-form").submit((e)=>{
                        e.preventDefault()
                        $.ajax({
                              url:'/enter-otp',
                              method:'post',
                              data:$("#otp-form").serialize(),
                              success:(response)=>{
                                    if(response.status){
                                        location.href="/"
                                    }else{
                                        swal("Failed!", "Invalid Otp!", "error")
                                    }
                                    
                              }
                        })
                  })
</script>
<script>
    let startingMinutes =1;
    let time = startingMinutes*60
    let	countDown = document.getElementById("counter")
    let setIntervel = setInterval(updateCountDown,1000)
      
    function updateCountDown(){
        const minutes = Math.floor(time/60)
        const seconds = time%60;
        countDown.innerHTML=`${minutes}:${seconds}`
        time--
        if(minutes==0&&seconds==0){
            clearInterval(setIntervel)
            document.getElementById("resend").style.display =""
        }
    }
    function verify(){
     startingMinutes =1;
     time = startingMinutes*60
    	countDown = document.getElementById("counter")
     setIntervel = setInterval(updateCountDown,1000)
        alert("nan vannu")
        $.ajax({
            url:'/resend-otp',
            method:'post',
                              
            success:(response)=>{
                
            }
            
        })
    }
</script>
<script>
     let numberChecking = false;


     $(document).ready(function(){
    $("#otp").on("input",function(){
         this.value=this.value.replace(/[^\d]/,'') 
         let phone = this.value
         let phoneregex = /^[0-9]*$/
         if(phone==""){
           $("#error2").html("enter a valid code")
           numberChecking = false;
         }
         else if(phone.match(/^[A-Za-z]+$/)) {
           $("#error2").html("enter numbers only")
           numberChecking = false;
         }
         else if(phone.match(phoneregex)&&phone.length<4){
           $("#error2").html("enter a valid code")
           return false;
         }
         else if(phone.match(phoneregex)&&phone.length>4){
           $("#error2").html("enter a valid code")
           numberChecking = false
         }
         else if(phone.match(phoneregex)){
           numberChecking=true
           $("#error2").html("")
           return true
         }
         else{
           return false;
         }
         
       })
    })
    function verifyOtp(){
   if(numberChecking){
	   return true
   }else{
	$("#error6").html("fill all feilds in format") 
	   return false
   }
   }
   
</script>