<div class="container  pb-5">
					
    <!-- Login Wrapper Start -->
    <div class="login-wrapper">

       <!-- Login Title & Content Start -->
       <div class="section-content text-center mb-5">
           <h2 class="title mb-2">Verify Mobile</h2>
           <p class="desc-content">Please verify using mobile OTP bellow.</p>
       </div>
       <!-- Login Title & Content End -->

   
       <div class="custom-control custom-checkbox align-items-center" >
           <br>
           <div id="inp2" class="col-4" >
               <form id="otp-form">
               <input   class="custom-cont rol-input" name="otp" placeholder="enter otp" type="text"  id="otp">
               <br>
               <h3 id="counter"></h3>
               <a style="display: none;" id="resend" class="btn btn-outline-secondary m-3" onclick="verify()">Resend Otp</a>
               <button type="submit" class="btn btn-dark m-3" onclick="login()">Login</button>
            </form>
           </div>
       </div>
   </div>
   <!-- Login Wrapper End -->
</div>
<script>
      $("#otp-form").submit((e)=>{
                        e.preventDefault()
                        $.ajax({
                              url:'/enter-otp',
                              method:'post',
                              data:$("#otp-form").serialize(),
                              success:(response)=>{
                                    if(response.status){
                                        location.href="/"
                                    }else{
                                        swal("Failed!", "Invalid Otp!", "error")
                                    }
                                    
                              }
                        })
                  })
</script>
<script>
    let startingMinutes =1;
    let time = startingMinutes*60
    let	countDown = document.getElementById("counter")
    let setIntervel = setInterval(updateCountDown,1000)
      
    function updateCountDown(){
        const minutes = Math.floor(time/60)
        const seconds = time%60;
        countDown.innerHTML=`${minutes}:${seconds}`
        time--
        if(minutes==0&&seconds==0){
            clearInterval(setIntervel)
            document.getElementById("resend").style.display =""
        }
    }
    function verify(){
     startingMinutes =1;
     time = startingMinutes*60
    	countDown = document.getElementById("counter")
     setIntervel = setInterval(updateCountDown,1000)
        alert("nan vannu")
        $.ajax({
            url:'/resend-otp',
            method:'post',
                              
            success:(response)=>{
                
            }
            
        })
    }
</script>