<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="271754934598-r9gag7rfcoka093scca7jgj9ds41vtr4.apps.googleusercontent.com">

<div class="section">

	<!-- Breadcrumb Area Start -->
	<div class="breadcrumb-area bg-light">
		<div class="container-fluid">
			<div class="breadcrumb-content text-center">
				<h1 class="title">Login | Register</h1>
				<ul>
					<li>
						<a href="/">Home </a>
					</li>
					<li class="active"> Login |<a href="/signup"> Register</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Area End -->

</div>
<!-- Breadcrumb Section End -->

<!-- Login | Register Section Start -->
<div class="section section-margin">
	<div class="container">

     <!-- Login Wrapper Start -->
	 <div class="login-wrapper">

		<!-- Login Title & Content Start -->
		<div class="section-content text-center mb-5">
			<h2 class="title mb-2">Login</h2>
			<p class="desc-content">Please login using account detail bellow.</p>
		</div>
		<!-- Login Title & Content End -->

		<!-- Form Action Start -->
		<form action="/login" onclick="return addAllUsers()" method="post">

			<!-- Input Email Start -->
			<div class="single-input-item mb-3">
				<%if(blockedUser){%>
					<p id="err" style="color: red;">User blocked by admin</p>
					<%}%>
				<input type="email" id="email" name="email" placeholder="Email or Username">
				<p id="error2" style="color: red;"></p>
			</div>
			<!-- Input Email End -->

			<!-- Input Password Start -->
			<div class="single-input-item mb-3">
				<input type="password" id="password" name="password" placeholder="Enter your Password">
				<p id="error4" style="color: red;"></p>
				
					<%if(loginErr){%>
					<p id="err" style="color: red;">Invalid username or password</p>
					<%}else{%>
						<p id="err" style="color: red;"></p>
						<%}%>
						
					
			</div>
			<!-- Input Password End -->

			<!-- Checkbox/Forget Password Start -->
		
			<!-- Checkbox/Forget Password End -->

			<!-- Login Button Start -->
			<div class="single-input-item mb-3">
				<button class="btn btn btn-dark btn-hover-primary rounded-0">Login</button>
				<p id="error3" style="color: red;"></p>
			
			</div>
			<!-- Login Button End -->
				<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
			<div style="margin-left: 2em;" class=" btn btn-outline-light g-signin2" id="googlebutton" data-onsuccess="onSignIn"></div>
			<!-- Lost Password & Creat New Account Start -->
			
			<!-- Lost Password & Creat New Account End -->

		</form>
		<!-- Form Action End -->

	</div>
	<!-- Login Wrapper End -->
</div>
			
			</div>
			<div>

			<h1 style="margin-left: 600px;">-OR-</h1>
				
					
		
					
						<div class="container  pb-5">
					
						 <!-- Login Wrapper Start -->
						 <div class="login-wrapper">
					
							<!-- Login Title & Content Start -->
							<div class="section-content text-center mb-5">
								<h2 class="title mb-2">OTP Login</h2>
								<p class="desc-content">Please login using mobile OTP bellow.</p>
							</div>
							<!-- Login Title & Content End -->
					
						
							<div class="custom-control custom-checkbox align-items-center" >
									
								<a class="btn btn-outline-secondary m-3"  style="cursor: pointer;" onclick="forget()">Otp Login</a>
								<div id="inp1" class="col-4 m-3" style="display:none;">
								
									<input   class="custom-cont rol-input" type="text" placeholder="enter your phone number"  id="login">
									
									<a class="btn btn-outline-success m-3" onclick="verify();" >Verify</a>
								</div>
								<br>
								<div id="inp2" class="col-4" style="display:none ;">
									<input   class="custom-cont rol-input" placeholder="enter otp" type="text"  id="otp">
									<br>
									<h3 id="counter"></h3>
									<a style="display: none;" id="resend" class="btn btn-outline-secondary m-3" onclick="	verify();">Resend Otp</a>
									<a class="btn btn-dark m-3" onclick="login()">Login</a>
								</div>
							</div>
						</div>
						<!-- Login Wrapper End -->
					</div>
								
							

			
				 <!-- Login Wrapper Start -->
				 
<!-- Login | Register Section End -->
<script>
	function forget(){
		
		 document.getElementById("inp1").style.display=""
		
	}
</script>
<script>
	function verify(){
		setTime();
		document.getElementById("inp1").style.display="none"
		document.getElementById("inp2").style.display=""
		console.log("loggedin")
		let input = document.getElementById("login").value
		let otpbox = document.getElementById("otp")
		console.log("otp loggin")
		$.ajax({
			url:'/phone',
			data:{
				phone:input
			},
			method:'post',
			success:(response)=>{
				if(response.status){
					swal("Success!", "Otp has send to your mobile!", "success")
				}
				else if(response.status=="user not exist"){
					console.log("user not exixst")
					swal("Failed!", "User not Exists!", "error");
				}else if(!response.status){
					swal("Failed!", "User not Exists!", "error");
				}
				else if(response==false){
					swal("Failed!", "User not Exists!", "error");
				}
				
			}
		})
	}
</script>
<script>
	function login(){
		console.log("loggedin")
		let otp = document.getElementById("otp").value;
		let input = document.getElementById("login").value;
		$.ajax({
			url:'/otp-login',
			data:{
				otp:otp,
				number:input
			},
			method:'post',
			success:(response)=>{
				console.log(response);
				if(response.status){
					window.location.reload()
				}else{
					console.log("otp failed")
					swal("Failed!", "Invalid Otp!", "error");
				}
			}
		})
	}
</script>
<script>
  
   let emailChecking = false;
   
   let passwordChecking = false;
   $(document).ready(function(){
		   $("#email").keyup(function(){
		   let email = this.value
		   let emailregex = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;
		   
		   if(email.match(emailregex)){
			   $("#error2").html("")
			   emailChecking = true;
		   }
		   else{
			   $("#error2").html("enter a valid email")
			   emailChecking = false;
		   }
	   })
   
   
   
		   $("#password").keyup(function(){
			   let password = this.value
			   if(password==""){
				   $("#error4").html("enter a password")
			   }else if(password.length<=3){
                     $("#error4").html("enter minimum 4 charaters")
			   }else{
				   $('#error4').html("")
				   passwordChecking = true;
			   }
		   })
	   
   })
   
   function addAllUsers(){
	   console.log("log cheyy myre")
   if(emailChecking&&passwordChecking){
	   return true
   }else{
	$("#error4").html("fill all feilds in format") 
	   return false
   }
   }
   
   </script> 

<!-- google login -->
<!-- <script>


function onSignIn(googleUser) {
	  var id_token = googleUser.getAuthResponse().id_token;
	  
	  $.ajax({
		  url:"/googlelogin",
		  data:{token:id_token},
		  method:"POST",
		  success:function (response){
			  if(response.status){
				location.href ="/"
			}else{
				alert("invalid")
			}
		  },
		  error:function(err){
			  alert("something error")
		  }
	  })

}

</script> -->
<script>
	function onSignIn(googleUser) {
	  console.log(googleUser)
		var id_token = googleUser.getAuthResponse().id_token;
	  
		  $.ajax({
			url:"/googlelogin",
			method:"post",
			data:{token:id_token},
			success:function(e){
			  if(e.status){
				location.href="/"
			  }else{
				document.getElementById('blocked').innerHTML="You are blocked by admin!"
				document.getElementById('googlebutton').style="display:hidden"


			  }
			}
		  })

	  //   var xhr = new XMLHttpRequest();
	  //     xhr.open('POST', '/glogin');
	  //     xhr.setRequestHeader('Content-Type', 'application/json');
	  //     xhr.onload = function() {
	  //       console.log('Signed in as: ' + xhr.responseText);
	  //     };
	   

	  // xhr.send(JSON.stringify({token:id_token}));
	}
  </script>
  <script>
	  let countDown
	  let time
	  let setIntervel
	  function setTime(){
		  alert("njn vammu")
	  const startingMinutes = 1;
	   countDown = document.getElementById("counter");
	   time = startingMinutes*60
		
	   setIntervel = setInterval(updateCountDown,1000)
	  }
	 
		
	  function updateCountDown(){
		 
		  const minutes = Math.floor(time/60)
		  const seconds = time%60;
		  countDown.innerHTML=`${minutes}:${seconds}`
		  time--
		  if(minutes==0&&seconds==0){
			  clearInterval(setIntervel)
			  document.getElementById("resend").style.display =""

		  }
	  }
  </script>